@charset "UTF-8";
* {
  box-sizing: border-box;
}

@media screen and (min-width: 480px) {
  .br-pc {
    display: block;
  }
  .br-sp {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .br-pc {
    display: none;
  }
  .br-sp {
    display: block;
  }
}

* {
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

section {
  padding: 1rem;
}

@media screen and (min-width: 960px) {
  .mv {
    letter-spacing: 0.3rem;
    position: relative;
  }
  .mv .mv-wrapper {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
  }
  .mv .mv-wrapper .mv-message {
    position: absolute;
    z-index: 3;
    top: 1.5rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.5rem;
    background-color: black;
    color: white;
    width: 100%;
    text-align: left;
    line-height: 1rem;
    padding: 1rem 0 1rem 3rem;
  }
  .mv .mv-wrapper .mv-text01 {
    position: absolute;
    top: 4.5rem;
    left: 3rem;
    z-index: 3;
    color: black;
    font-size: 3rem;
  }
  .mv .mv-wrapper .mv-text02 {
    position: absolute;
    bottom: 20%;
    right: 3rem;
    z-index: 3;
    color: black;
    text-align: right;
    line-height: 2.5;
  }
  .mv .mv-wrapper .mv-text02 span {
    color: red;
    font-weight: bold;
  }
  .mv .mv-wrapper .mv-arrow {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 5%;
    animation: flow 1s ease 0s infinite;
  }
  @keyframes flow {
    0% {
      transform: translate(-50%, 15px);
    }
    50% {
      transform: translate(-50%, 0);
    }
    100% {
      transform: translate(-50%, 15px);
    }
  }
  .sticky-container {
    position: relative;
  }
  .sticky-container .header {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 3;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  .sticky-container .header__wrapper {
    display: flex;
    padding: 0.3rem;
    justify-content: space-between;
  }
  .sticky-container .header__wrapper .logo img {
    display: block;
    margin-left: 0;
    width: 70%;
  }
  .sticky-container .header__wrapper .logo img:hover {
    opacity: 0.6;
  }
  .sticky-container .header__wrapper .header-lists .header-list {
    position: relative;
    text-align: center;
    display: inline-block;
    margin-left: 1rem;
  }
  .sticky-container .header__wrapper .header-lists .header-list p {
    font-size: 0.7rem;
    letter-spacing: normal;
  }
  .sticky-container .header__wrapper .header-lists .header-list a {
    display: block;
    letter-spacing: normal;
  }
  .sticky-container .header__wrapper .header-lists .header-list a:hover {
    opacity: 0.5;
  }
  .sticky-container .header__wrapper .header-lists .header-list a:hover:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    /*線の上下位置*/
    width: 40px;
    /*線の長さ*/
    height: 2px;
    /*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /*位置調整*/
    background-color: black;
    /*線の色*/
  }
  .sticky-container .contents {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0 100px 0;
    position: relative;
    overflow: hidden;
  }
  .sticky-container .contents__title {
    letter-spacing: 0.4rem;
    position: absolute;
    z-index: 3;
    font-size: 2rem;
    color: white;
    margin-left: 1rem;
  }
  .sticky-container .contents__wrapper {
    position: relative;
    z-index: 2;
  }
  .sticky-container .contents__wrapper .contents__lists {
    margin: 0 auto;
    width: 90%;
    margin-top: 2rem;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
  }
  .sticky-container .contents__wrapper .contents__lists .contents__list {
    border-radius: 3%;
    background-color: white;
    width: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
  }
  .sticky-container .contents__wrapper .contents__lists .contents__list dt {
    letter-spacing: normal;
    padding-top: 1rem;
  }
  .sticky-container .contents__wrapper .contents__lists .contents__list dd {
    padding-bottom: 1rem;
  }
  .sticky-container .contents__wrapper .contents__lists .contents__list img {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }
  .sticky-container .contents__wrapper .contents__lists .contents__list:hover {
    transform: scale(1.1);
  }
  .sticky-container .contents .bcg {
    background-image: url("../image/profile_bgimg_6.jpeg");
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 140%;
    top: 0;
    z-index: 1;
    opacity: 0.8;
  }
  .sticky-container .profile {
    margin: 1rem 0;
  }
  .sticky-container .profile__wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  .sticky-container .profile__wrapper img {
    width: 100%;
  }
  .sticky-container .profile__wrapper .profile__bgimg {
    width: 100%;
    z-index: 0;
  }
  .sticky-container .profile__wrapper p {
    letter-spacing: 0.4rem;
    line-height: 1.5;
    font-size: 1.3rem;
    text-align: center;
    position: absolute;
    top: 1.5em;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  }
  .sticky-container .profile__wrapper .icons {
    display: block;
    width: 50%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
  }
  .sticky-container .profile__wrapper .icons .icon {
    width: 160px;
    height: 160px;
    padding: 1rem;
    background-color: white;
    border-radius: 50%;
  }
  .sticky-container .profile__wrapper .icons .icon img {
    margin-top: 1rem;
    width: 30%;
  }
  .sticky-container .products {
    padding: 0;
    width: 80%;
    margin: 0 auto;
  }
  .sticky-container .products .container h1 {
    font-size: 2rem;
    padding-left: 1rem;
    letter-spacing: 0.4rem;
  }
  .sticky-container .products .container .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0;
  }
  .sticky-container .products .container .group .item {
    opacity: 0;
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateY(30px);
    transition: all 1s ease-out;
    margin: 1rem 0;
  }
  .sticky-container .products .container .group .item .detail {
    display: none;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .sticky-container .products .container .group .item .detail p {
    margin-top: 35%;
  }
  .sticky-container .products .container .group .fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease-out;
  }
  .sticky-container .products .container .group a:hover .detail {
    display: block;
    opacity: 0.8;
  }
  .sticky-container .products .container .group img {
    display: block;
    width: 100%;
  }
  .sticky-container .gallery {
    width: 80%;
    margin: 0 auto;
  }
  .sticky-container .gallery h1 {
    letter-spacing: 0.4rem;
  }
  .sticky-container .gallery .slide2 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .sticky-container .gallery .slide2 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  .sticky-container .gallery .slide2 .swiper-slide:hover {
    opacity: 0.5;
  }
  .sticky-container .gallery h1 {
    font-size: 2rem;
  }
  .sticky-container footer {
    letter-spacing: 0.4rem;
  }
  .sticky-container footer .wrapper {
    background-color: black;
    color: white;
    margin: 0 auto;
    padding: 1rem;
    width: 80%;
    text-align: right;
  }
  .sticky-container footer .wrapper .icons {
    width: 15%;
    margin: 1rem 0 1rem auto;
    display: flex;
    justify-content: space-between;
  }
  .sticky-container footer .wrapper a img {
    width: 30px;
  }
}
